@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerUltraLight.woff');
    src: local('MullerUltraLight'), local('MullerUltraLight'),
        url('../fonts/MullerUltraLight.woff2') format('woff2'),
        url('../fonts/MullerUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff');
    src: local('Muller Medium'), local('MullerMedium'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff');
    src: local('Muller Regular'), local('MullerRegular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muller-italic';
    src: url('..//fonts/MullerBoldItalic.woff');
    src: local('MullerBlackItalic'), local('MullerBlackItalic'),
        url('..//fonts/MullerBoldItalic.woff2') format('woff2'),
        url('..//fonts/MullerBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muller-lightitalic';
    src: url('..//fonts/MullerLightItalic.woff');
    src: local('MullerBlackItalic'), local('MullerBlackItalic'),
        url('..//fonts/MullerLightItalic.woff2') format('woff2'),
        url('..//fonts/MullerLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Muller', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
/* Header */

.header {
    margin-bottom: 10px;
    padding: 20px 10px 10px 10px;
}
.header__container{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.header__logo {
    margin-right: auto;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position-x: 33px;
    background-position-y: 1px;
}
.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 638px;
}
.header__nav__list-desctop{
    margin: 0;
    padding: 5px 57px 5px 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.header__nav__item {
    list-style-type: none;
}
.header__nav__item:not(:last-child) {
    margin-right: 59px;
    list-style-type: none;
}
.header__nav__button {
    width: 104px;
    height: 40px;
    border-radius: 20px;
}
.header__search-link{
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
    padding-right: 72px;
    background-image: url('/img/Component11.png');
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
 }
.header__modal {
    display: none;
} 
.header__nav__link {
     text-decoration: none;
     font-size: 20px;
     color: black;
 }

/* bar */
.bar {
    border: 1px solid #E6E8EC ;
}
.bar__nav {
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.bar__list {
    margin-right: 30px;
    padding: 4px 0px ;
    display: flex;
    flex-direction: row;
    width: 57%;
}
.bar__type {
    list-style-type: none;
}
.bar__type:not(:last-child){
    margin-right: 53px;
}
.bar__icon {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.bar__icon-item {
    padding-left: 11px;
    width: 163px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid #E6E8EC;
}
.bar__icon-link {
    margin-right: 8px;
    width: 22px;
    height: 25px;
    background-image: url('/img/Vector.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
.bar__icon-group{
    display: flex;
    flex-direction: column;
}
.bar__icon-text{
    font-size: 12px;
    color: #A1A6B4;
}
.bar__icon-music{

}

.bar__link {
    text-decoration: none;
}
.bar__logo {
    background-image: url('/img/Frame\ 79.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 46px;
}

/* HERO */
.hero{
    height: 450px;
}
.hero__info {
    padding: 89px 0px 0px 0px;
    width: 100%;
    height: 360px;
    background-image: url('/img/microphone.png');
    background-repeat: no-repeat;
    background-position-x: 760px;
    background-position-y: 38px;
    
}
.hero__heading {
    margin-bottom: 10px;
    width: 55%;
    font-size: 60px;
}
.hero__heading-italic{
    font-family: 'Muller-italic', sans-serif;
    font-weight: bold;
}
.hero__description {
    width: 55%;
    margin: 0;
    margin-bottom: 60px;
    padding: 0px 27px 10px 0px;
    font-size: 16px;
    line-height: 24px;
}
.hero__link{
    padding: 25px 54px 25px 54px;
    border-radius: 35px;
    border: 1px solid #6D31EE;
    background-color: #6D31EE;
    font-size: 20px;
    color: #ffffff;
}

/* Podkast */

.podcasts {
    height: 1045px;
    background-color: #F2F2F2;
}
.podcasts__date{
    padding: 3px 1px 1px 6px;
    position: absolute;
    top: 124px;
    width: 44px;
    height: 12px;
    background-color: #E6E8EC;
    font-size: 10px;

}
.podcasts__heading{
    margin-bottom: 26px;
    padding-top: 90px;
    font-size: 48px;
    font-weight: 500;
}
.podcasts__item{
    position: relative;
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
    width: 48.6%;
    background-color: #ffffff;
}
.podcasts__item:nth-last-child(2){
    margin-bottom: 60px;
}
.podcasts__item:nth-last-child(3){
    margin-bottom: 60px;
}
.podcasts__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.podcasts__list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.podcasts__item-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.podcasts__info-group{
    padding-top: 21px;
}
.podcasts__time{
    padding: 10px 10px 10px 30px;
    font-size: 12px;
}
.podcasts__name{
    padding: 4px 10px 0px 30px;
    font-size: 20px;
}
.podcasts__singer{
    margin: 0;
    padding: 1px 10px 10px 30px;
    font-size: 16px;
    color: #A1A6B4;
}
.podcasts__button{
    margin-right: 29px;
    width: 50px;
    height: 61px;
    background-image: url('/img/play_btn.png');
    background-position: bottom;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
.podcasts__description{
    width: 49%;
    height: 16px;
    padding: 7px 1px 8px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-top: 1px solid #E6E8EC;
}
.podcasts__description-play{
    padding-left: 16px;
    width: 40px;
    height: 15px;
    background-image: url('/img/Vector\ \(Stroke\).png');
    background-repeat: no-repeat;
    background-position: left;
    color: #A1A6B4;
    font-size: 16px;
}
.podcasts__description-hurt{
    padding-left: 19px;
    width: 40px;
    height: 15px;
    background-image: url('/img/Vector-2.png');
    background-repeat: no-repeat;
    background-position: left;
    color: #A1A6B4;
    font-size: 16px;
}
.podcasts__description-share{
    padding-left: 18px;
    width: 40px;
    height: 15px;
    background-image: url('/img/Vector-3.png');
    background-repeat: no-repeat;
    background-position: left;
    color: #A1A6B4;
    font-size: 16px;
}
.podcasts__btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.podcasts__btn-else{
    width: 246px;
    height: 70px;
    border-radius: 40px;
    border: 2px solid #6D31EE;
    color: #6D31EE;
    background-color: inherit;
    font-size: 20px;
}

/* Programs */
.programs__container{
    height: 752.8px;
}
.programs__group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.programs__column{
    display: flex;
    flex-direction: column;
    width: 24%;
}
.programs__column-up{
    margin-bottom: 227px;
}
.programs__autor{
    padding: 1px 10px 7px 0px;
    line-height: 33px;
    font-size: 16px;
    color: #A1A6B4;
}
.programs__heading{
    margin-bottom: 0px;
    padding-top: 90px;
    font-size: 48px;
    font-weight: 500;
}
.programs__select{
    width: 255px;
    height: 40px;
    padding-left: 11px;
    margin-bottom: 227px;
    appearance: none;
    background-image: url('/img/Rectangle\ 99\ \(Stroke\).png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: calc(100% - 14px);
}
.programs__logo{
    margin-bottom: 24px;
    width: 65px;
    height: 89px;
    background-image: url('/img/mic.png');
    background-position: left;
    background-repeat: no-repeat;
}
.programs__button{
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    border-radius: 77px;
    border: 2px solid #121723;
    font-size: 16px;
}
.programs__button-description{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}
.programs__group-card{
    padding: 108px 0px 5px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
}
.programs__item{
    height: 48%;
    max-width: 31%;
    box-sizing: border-box;
    border: 1px solid #E6E8EC;
}
.programs__item:nth-child(1){
    margin-bottom: 28px;
}
.programs__item:nth-child(2){
    margin-bottom: 28px;
}
.programs__item:nth-child(3){
    margin-bottom: 28px;
}

.programs__item-img{
    margin-bottom: 16px;
}
.programs__item-head{
    padding-left: 16px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 3px;
}
.programs__item-info{
    margin: 0;
    margin-bottom: 19px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}
.programs__item-link{
    padding-left: 16px;
    font-family: 'Muller-lightitalic';
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #121723;
}

/* Quests */

.guests__column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.guests__description{
    margin-bottom: 20px;
    padding: 20px 324px 26px 0px;
}
.guests__head{
    margin-bottom: 12px;
    padding-top: 73px;
    font-size: 48px;
    font-weight: 500;
    color: #FFFFFF;
}
.quests__autor{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}
.quests__text{
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    padding-top: 12px;
    color: #FFFFFF;
}
.accordion {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 90px;
    border: none;
    text-align: left;
    outline: none;
    background-color: #121723;
    border-top: 1px solid #A1A6B4;
    border-bottom: 1px solid #A1A6B4;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}
.quests__accordion{
    width: 66%;
}

.active, .accordion:hover {
    border-top: 1px solid #AA9DFA;
    border-bottom: 1px solid #AA9DFA;
}

.accordion:after {
    content: url('/img/Frame\ 137.png');
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    float: right;
    padding-top: 7px;
    margin-right: 5px;
}

.active:after {
    content: url('/img/Frame\ 140.png');
}
.quests__group{
    padding: 22px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 25%;
    margin: 0;
}
.quests__group-link{
    padding: 0;
    width: 84%;
    text-align: left;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    color: #ffffff;
}
.quests__group-link:hover{
    color: #AA9DFA;
}

.panel {
    display: flex;
    flex-direction: row;
    width: 760px;
    color: #212121;
    background-color: #121723;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.guests {
    height: 1108px;
    background-color: #121723;
}

.guests__card{
    padding: 236px 0px 20px 0px;
    display: flex;
    width: 31.5%;
    flex-direction: column;
}
.guests__card-one{
    display: none;
    background-image: url('/img/card1.png');
    background-repeat: no-repeat;
    background-position: top;
}

.guests__card-two{
    display: none;
    background-image: url('/img/Noname.png');
    background-repeat: no-repeat;
    background-position: top;
}
.guests__card-active{
    display: flex;
}
.guests__card-social{
    margin-bottom: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 38%;
}
.guests__card-head{
    margin: 0;
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF;
}
.guests__card-text{
    margin: 0px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: #A1A6B4;
}

.guests__card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    border-radius: 77px;
    border: 2px solid #AA9DFA;
    background-color: transparent;
    font-size: 16px;
    color: #AA9DFA;
}

/* PLAYLIST */
.playlist{
    height: 934px;
}

.playlist__description{
    display: flex;
    flex-direction: column;
    width: 31.5%;
    height: 560px;
    border-bottom: 1px solid #D2D5DD;
}

.playlist__head{
    margin-bottom: 0px;
    padding-top: 90px;
    font-size: 48px;
    font-weight: 500;
}
.playlist__autor{
    padding: 1px 10px 0px 0px;
    line-height: 33px;
    font-size: 16px;
    color: #A1A6B4;
}
.playlist__radio-group{
    margin-bottom: 19px;
    display: flex;
    align-items: center;
}
.playlist__radio-group:nth-child(10){
    margin-bottom: 62px;
}
.playlist__radio{
    margin-right: 12px;
    width: 30px;
    height: 27px;
}
.playlist__label{
    font-size: 20px;
}
.playlist__text{
    margin: 0;
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 22px;
    color: #A1A6B4;
}
.playlist__info{
    margin-bottom: 8px;
    font-family: 'Muller-lightitalic';
    color: #A1A6B4;
}
.playlist__group{
    display: flex;
    flex-direction: row;
}
.playlist__card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 94px 0px 3px 46px;
    width: 68.5%;
}
.playlist__card-item{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    height: 221px;
    width: 21.95%;
    
}
.playlist__card-description{
    padding: 10px 0px 13px 0px;
    border: 1px solid #E6E8EC;
    width: 98.6%;
}
.playlist__card-item:not(:nth-child(4n)){
    margin-right: 29px;
}
.playlist__card-head{
    margin: 0;
    padding: 2px 10px 0px 16px;
    font-size: 16px;
}
.playlist__img{
    width: 100%;
}
.playlist__card-text{
    padding: 0px 10px 10px 16px;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}
.playlist__label-country{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 30px;
    background-size: 14%;
    background-repeat: no-repeat;
    background-position: right top;
}
.playlist__label-rus{
    background-image: url('../img/rus.png');
}
.playlist__label-brit{
    background-image: url('../img/brit.png');
}

    /* SHOP */
.shop {
    height: 804px;
    background-color: #292E39;
}
.shop__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop__left{
    position: relative;
    padding-top: 92px;
    width: 58%;
}
.shop__left::before{
    position: absolute;
    content: '';
    width: 160px;
    height: 160px;
    background-image: url('/img/cd-label.png');
    background-repeat: no-repeat;
    background-position-y: 2px;
    background-position-x: -5px;
}

.shop__img{
    padding-top: 10px;
}
.shop__right{
    position: relative;
    padding-top: 94px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
}
.shop__right::before{
    position: absolute;
    content: '';
    top: 206px;
    width: 100%;
    height: 12px;
    background-image: url('/img/shop-vector.png');
    background-position: left;
}
.shop__head{
    margin-bottom: 33px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    color: #F0D288;
}
.shop__present{
    margin-bottom: 2px;
    padding-right: 35px;
    font-size: 16px;
    line-height: 28.8px;
    font-weight: 400;
    color: #FFFFFF;
}
.shop__description{
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 28.8px;
    font-weight: 400;
    color: #FFFFFF;
}
.shop__price{
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    color: #FFFFFF;
}
.shop__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    width: 300px;
    height: 70px;
    gap: 8px;
    border: 2px solid #F0D288;
    border-radius: 100px;
    background-color: transparent;
    font-size: 20px;
    color: #F0D288;
}
.about {
}
.row {
}
.header__modal-head {
}
.header__modal-btn {
}
.header__modal-text {
}
.header__social {
}


.header__social-link {
}

